body{
  background-color: black;
  display: flex;
}
.outer{
  box-sizing: border-box;
  padding: 0px 0px 0px 200px;
  background: radial-gradient(circle, grey 0%, black 100%);
  width: 80%;
  height: auto;
}
.outer2{
  width: 20%;
  background: linear-gradient(0deg, grey 0%, black 100%);
  color: white;
}
.first{
  text-align: center;
  box-sizing: border-box;
  height: 30%;
  margin-left: -200px;
  padding-top: 120px;
}
.second{
  border-top-left-radius: 160px;
  background: linear-gradient(0deg, grey 0%, black 100%);
  padding: 60px;
}
.first p{
  font-family: 'Bad Script', cursive;
  color: white;
  font-size: 6em;
  margin: -10px auto;
}
.inner p{
  color: white;
}
