body{
  background-color: black;
  display: flex;
}
.outer{
  box-sizing: border-box;
  padding: 10px 0px 0px 200px;
  background: radial-gradient(circle, grey 0%, black 100%);
  width: 80%;
  height: auto;
}
aside{
  box-sizing: border-box;
  width: 20%;
  background: linear-gradient(0deg, grey 0%, black 100%);
  color: white;
  padding-left: 3%;
  padding-top: 40px;
  border-bottom: 5px solid #4CAF50;
  border-right: 5px solid #4CAF50;
}
input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.first{
  box-sizing: border-box;
  margin-left: -200px;
  padding-bottom: 80px;
}
.second{
  border-top: 5px solid #4CAF50;
  border-bottom: 5px solid #4CAF50;
  border-left: 5px solid #4CAF50;
  border-top-left-radius: 160px;
  border-bottom-left-radius: 160px;
  background: linear-gradient(0deg, grey 0%, black 100%);
  padding: 60px;
}
.inner p:nth-child(odd){
  color: white;
  font-family: 'PT Sans', sans-serif;
}
.inner p:nth-child(even){
  color: #4CAF50;
  font-family: 'PT Sans', sans-serif;
}
.inner p::selection{
  color: black;
}
ul{
  line-height: 30px;
  margin-left: -30px;
  list-style-type: none;
  font-family: 'Merriweather', serif;
}
a:link, a:visited{
  color: inherit;
}
a:hover{
  text-decoration: none;
}
h1{
  /*color: rgba(0,0,0,0.5);
  line-height: 30px;
  text-shadow: 0 0 3px #4CAF50, 0 0 5px #4CAF50;*/
  color: #4CAF50;
  font-size: 6em;
}
div.nav{
  margin-left: -200px;
  margin-top: -25px;
}
ul.nav{
    display: flex;
    line-height: 40px;
}
ul.nav a:link{
    text-decoration: none;
}
ul.nav li{
  background: linear-gradient(0deg, grey 0%, black 100%);
  margin: 0px 10px;
  width:25%;
  text-align: center;
  color: white;
  border: 3px solid #4CAF50;
  border-radius: 10px;
  font-weight: bold;
}

/*In normal writing mode we have:*/
/*margin-top, margin-bottom, margin-right and margin-left*/
/*In order for them to be related to the direction of text and not the physical screen, we should substitute those with:*/
/*margin-block-start, margin-block-end, margin-inline-start, margin-inline-end*/
/*And the same works for paddings and borders.*/
